:host {
  display: block;
}

.tooltip {
  /* tooltip styling */
  --tooltip-font: 12px sans-serif;
  --tooltip-bg-color: black;
  --tooltip-color: var(--offwhite);
  --tooltip-max-width: 300px;
  --tooltip-border: 1px solid #6e7681;
  background-color: var(--tooltip-bg-color);
  box-shadow: 0 0 transparent !important;
  border: var(--tooltip-border);
  border-radius: 8px;
  color: var(--tooltip-color);
  font: var(--tooltip-font);
  max-width: var(--tooltip-max-width);
  padding: 0.5rem 0.5rem;
  opacity: 1;
}

/* makes first letter uppercase */
.tooltip::first-letter {
  text-transform: uppercase;
}
